body {
    background-color: rgb(20,20,20);
}

#nav--item {
    color: white;
    font-size: 0.8rem;
}

.gener-container {
    display: flex;
    padding-inline: 1rem;
}

h3 {
    margin: 0;
    padding-inline: .5rem 1rem;
    color: white;
}

.dropdown button, .d-flex button {
    background-color: black;
    border-color: white;
    color: white;
}

.btn-align:focus {
    color: #fff;
    background-color: black;
    border: 2px solid white;
    box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

.footer-container{
    padding-inline: 20%;
    color: rgb(156, 156, 156);
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

#service-button {
    background-color: rgb(20,20,20);
    border-color: rgb(156, 156, 156);
    color: rgb(156, 156, 156);
}

.row {
  width: 100%;
}
.row__inner {
  font-size: 0;
  display: flex;
  margin: 1% 0;
  padding-bottom: 10px;
}
.tile {
  margin-right: 10px;
} 
.tile__img {
  object-fit: cover;
}

.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}


